:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.paid {
  background-color: hsl(160, 67%, 92%);
  color: hsl(160, 67%, 52%);
}
.draft {
  background-color: hsl(231, 20%, 87%);
  color: hsl(231, 20%, 27%);
}
.pending {
  background-color: hsl(34, 100%, 90%);
  color: hsl(34, 100%, 50%);
}

.invoice-status {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  align-items: center;
  padding: 2em;
  background-color: #fff;
  border-radius: 1em;
}

.statusFlag {
  border-radius: 0.7em;
  text-align: center;
  padding: 0.5em 1em;
  font-size: 1.8rem;
}

h3 {
  font-size: 1.7rem;
  /* color: hsl(231, 20%, 73%); */
  font-weight: 600;
}

/* ---------------------------- invoice data */
.invoice-data {
  width: 90%;
  border-radius: 0.7em;
  padding: 2em;
  background-color: #fff;
}

.invoice-id {
}
.invoice-sender {
}
.invoice-dates {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.invoice-dates dl > :first-child {
  margin-bottom: 0.5em;
}
.invoice-billing {
}

.invoice-sent {
  margin-top: 2em;
}

.invoice-items {
  margin-top: 2em;
}

.invoice-head {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: top;
  gap: 2em;
}

.invoice-body {
  margin-top: 2em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.invoice-line-items {
  background-color: hsl(231, 73%, 93%);
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.gray-normal {
  color: hsl(233, 30%, 51%);
  font-size: 1.7rem;
  font-weight: 400;
}

.gray-bold {
  color: hsl(233, 30%, 51%);
  font-size: 1.7rem;
  font-weight: 700;
}

.black-bold {
  color: #000;
  font-size: 1.7rem;
  font-weight: 700;
}

.item-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5em;
}

.invoice-line-items,
.invoice-total {
  margin: 0 auto;
  padding: 2em;
}

.invoice-total {
  background-color: hsl(233, 30%, 21%);
  color: #fff;
  font-size: 1.7rem;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

.invoice-total > dd {
  font-size: 2.5rem;
  font-weight: 700;
}

/* invoice-operations bar - buttons */
.invoice-operations {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  padding: 2em;
}

.edit {
  background-color: hsl(231, 73%, 93%);
  color: hsl(231, 37%, 63%);
  font-size: 1.5rem;
  font-weight: 500;
  &:hover {
    background-color: hsl(233, 30%, 61%);
    color: hsl(231, 73%, 93%);
    cursor: pointer;
  }
}

.delete {
  background-color: hsl(0, 80%, 63%);
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
  &:hover {
    background-color: hsl(0, 100%, 80%);
    cursor: pointer;
  }
}

.mark-paid {
  background-color: hsl(252, 94%, 67%);
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
  &:hover {
    background-color: hsl(252, 100%, 73%);
    cursor: pointer;
  }
}

.mark-pending {
  background-color: hsl(34, 100%, 50%);
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
  &:hover {
    background-color: hsl(34, 100%, 73%);
    cursor: pointer;
  }
}

.btn {
  padding: 0.5em 1.5em;
  border: none;
  border-radius: 2em;
}
